[Unit]
Description=Font Helper for MasterGo

[Service]
Type=simple
ExecStart=%h/.local/bin/mastergo-font-linux
Restart=on-failure

[Install]
WantedBy=default.target